<div
    id="hero"
    class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
    style="
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.2),
                rgba(255, 255, 255, 0.2)
                
            ),
            radial-gradient(
                77.36% 256.97% at 77.36% 57.52%,
                #eeefaf 0%,
                #c3e3fa 100%
            );
        clip-path: ellipse(150% 87% at 93% 13%);
        height: 450px;
    "
>
    <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <div class="grid justify-content-left">
            
            <h1 class="text-6xl font-bold text-gray-900 line-height-2">
                <span class="font-light block"
                    >A complete learning platform</span
                >
            </h1>
        </div>
        <!-- <div class="grid justify-content-left">
            <h3 class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">
                A learning platform.
            </h3>
        </div> -->
    </div>
</div>
